@font-face {
    font-family: 'lucida';
    src: url(../assets/lucida-calligraphy-black.otf);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF5F5 ;
}

.logo {
    font-family: 'lucida';
    font-size: 1.4rem;
}

.card, .btn-primary {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(229,02, 02, 0.2);
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(228, 222, 222, 0.3);
}

.centralizarH{
    position: absolute;
    left: 50%;
    transform: translate( -50%);
}

.svgg:hover {
    fill: #eee;
}

textarea {
    resize: none !important;
}

/* Acompanhar pedidos */
.table-container {
    overflow-x: auto;
}
.table-row-hover:hover {
    background-color: #FEEAEA;
}

/* Login */
.login-container {
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.input-field:focus {
    border-color: #e53e3e;
    box-shadow: 0 0 0 3px rgba(229, 62, 62, 0.2);
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(229, 62, 62, 0.3);
}

textarea {
    resize: none !important;
}

@media (max-width: 550px) {
    #nomeUsuario {
        display: none;
    }
}